/bin/
*.DS_Store
/build
/target
/.gradle
/.gradle*
/out
/.idea
*.iml
#/.settings
/work
WebContent/.idea/
*.log
*.log.*
*.swp

*.class
/.settings
.project
.classpath
web/WEB-INF/classes

# Package Files #
*.war
*.ear
