<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cneport.tophare.persistence.LocalParameterMapper"> 
<cache/>
 <select id="queryParameterEntry" resultType="com.cneport.tophare.para.ParameterEntry">
	    select 
	          ${tableCodeName} as code,
	          ${tableCodeDescriptionName} as name
	    from  ${tableName}
	          order by ${tableCodeName} 
 </select> 
 
 <select id="queryParameterNameByCode" resultType="com.cneport.tophare.para.ParameterEntry">
	    select 
	          ${tableCodeName} as code,
	          ${tableCodeDescriptionName} as name
	    from  ${tableName}
	    where ${tableCodeName}=#{codeValue,jdbcType=VARCHAR}
 </select>
</mapper>
