<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cneport.ecss.exchange.service.perDec.persistence.PerDecMapper">
  <select id="countPerDecListNo" parameterType="String" resultType="int">
  		select count(*) from PERSONAL_DECLARE_LIST  t where t.SEQ_NO=#{seqNo}  
  </select>
  
      <select id="countPerDecHead" parameterType="Map" resultType="int">
  		SELECT count(*)  FROM PERSONAL_DECLARE_HEAD where ECP_CODE=#{ecpCode} and ORDER_NO=#{orderNo}
  </select>
  
  	<insert id="insertPerDecHead" 	parameterType="com.cneport.ecss.exchange.service.perDec.entity.PerDecHead">
  	
  	insert into PERSONAL_DECLARE_HEAD
          (SEQ_NO,OPERATOR,I_E_PORT,VOY,I_E_DATE,TOTAL_SHIPPED_NUMBER,DECLARANT,ORDER_NO,ECP_CODE,ECP_NAME,TAX_ADDRESS,
	 ID_NUMBER,CONSIGNEE,LOGISTICS_CODE,LOGISTICS_NAME,LOGISTICS_NO,COUNTRY,CUSTOMS_CODE,status,UPDATE_TIME ) 
	 values(#{seqNo},#{HOperator},#{HIEPort},#{HVoy},
	 decode(#{HIEDate},'','',to_date(#{HIEDate},'YYYY-MM-DD HH24:MI:SS')),#{HTotalShippedNumber},#{HDeclarant},#{HOrderNo},#{HEcpCode},
	 #{HEcpName},#{HTaxAddress},#{HIdNumber},#{HConsignee},#{HLogisticsCode},
	 #{HLogisticsName},#{HLogisticsNo},#{HCountry},'4600','1',sysdate)
	</insert>
	
	
	<insert id="insertPerDecList" 	parameterType="com.cneport.ecss.exchange.service.perDec.entity.PerDecList">
  	      insert into PERSONAL_DECLARE_LIST
          (SEQ_NO,LIST_NO,GOODS_NO,TAX_CODE,GOODS_NAME,PRICE,QUANTITY,UNIT,ITEM_NO,CODE_TS,GOODS_MODEL) 
	  values(#{seqNo},#{listNo},#{LGoodsNo},#{LTaxCode},#{LGoodsName},#{LPrice},#{LQuantity},#{LUnit},#{LItemNo},#{LCodeTs},#{LGoodsModel})
	</insert>
    

</mapper>
