<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cneport.ecss.exchange.service.trans.persistence.TransMapper">
  
      <select id="countTrans" parameterType="Map" resultType="int">
  		SELECT count(*)  FROM LOGISTICS_INFORMATION where LOGISTICS_NO=#{logisticsNo} and LOGISTICS_CODE=#{logisticsCode}
  </select>
  
  	<insert id="insertTrans" 	parameterType="com.cneport.ecss.exchange.service.entity.LogisticsInformation">
  	insert into LOGISTICS_INFORMATION
          (SEQ_NO,TOTAL_LOGISTICS_NO,ORDER_NO,ECP_CODE,ECP_NAME,LOGISTICS_NO,LOGISTICS_CODE,LOGISTICS_NAME,TRACK_NO,TRACK_STATUS,SHIPPER,SHIPPER_ADDRESS,SHIPPER_TELEPHONE,
	  SHIPPER_COUNTRY,CONSIGNEE,CONSIGNEE_ADDRESS,CONSIGNEE_TELEPHONE,CONSIGNEE_COUNTRY,ID_TYPE,CUSTOMER_ID,CROSS_FREIGHT,FREIGHT,SUPPORT_VALUE,WEIGHT,NET_WEIGHT,PACK_NUM,
	  WRAP_TYPE,QUANTITY,GOODS_NAME,DELIVERY_WAY,SHIP_NAME,DESTINATION_PORT,IE_TYPE,STOCK_FLAG,NOTE,CUSTOMS_CODE,status,UPDATE_TIME) 
	  values(#{seqNo},#{totalLogisticsNo},#{orderNo},#{ecpCode},#{ecpName},#{logisticsNo},#{logisticsCode},#{logisticsName},#{trackNo},#{trackStatus},#{shipper},#{shipperAddress},
	  #{shipperTelephone},#{shipperCountry},#{consignee},#{consigneeAddress},#{consigneeTelephone},#{consigneeCountry},#{idType},#{customerId},#{crossFreight},#{freight},#{supportValue},
	  #{weight},#{netWeight},#{packNum},#{wrapType},#{quantity},#{goodsName},#{deliveryWay},#{shipName},#{destinationPort},#{ieType},#{stockFlag},#{note},'4600','1',sysdate)
	</insert>
</mapper>
