<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cneport.ecss.exchange.service.goods.persistence.GoodsMapper">
  
      <select id="countGoodsHead" parameterType="Map" resultType="int">
  		SELECT count(*)  FROM GOODS_HEAD where APPLY_CODE=#{HApplyCode} and IE_TYPE=#{HIEType}
  		</select>
  		
  		<select id="countGoodsList" parameterType="Map" resultType="int">
  		SELECT count(*)  FROM GOODS_LIST where SEQ_NO=#{seqNo}
  		</select>
  		
  	<select id="queryHeadSEQ" parameterType="Map" resultType="String">
  		SELECT SEQ_NO  FROM GOODS_HEAD where APPLY_CODE=#{HApplyCode} and IE_TYPE=#{HIEType}
  		</select>
  		
  		<select id="queryGoodsList" parameterType="Map" resultType="int">
  		SELECT count(*) FROM GOODS_HEAD h left join GOODS_LIST l 
  		on h.seq_no=l.seq_no where h.APPLY_CODE=#{applyCode} and h.IE_TYPE=#{IEType} and
	 	l.GOODS_NO=#{goodsNo} and L.ECP_CODE=#{ecpCode}
  		</select>
  
  	<insert id="insertGoodsHead" 	parameterType="com.cneport.ecss.exchange.service.entity.GoodsHead">
  	insert into GOODS_HEAD
				  (SEQ_NO,APPLY_CODE,APPLY_NAME,IE_TYPE,APPLY_USER,CUSTOMS_CODE,status,UPDATE_TIME) 
				  values(#{seqNo},#{HApplyCode},#{HApplyName},
				  #{HIEType},#{HApplyUser},'4600','1',sysdate)
	</insert>
	
	
  	<insert id="insertGoodsList" 	parameterType="com.cneport.ecss.exchange.service.entity.GoodsList">
  	insert into GOODS_LIST
		  (SEQ_NO,LIST_NO,GOODS_NO,CODE_TS,GOODS_NAME,GOODS_MODEL,UNIT,TAX_CODE,PRICE,ECP_CODE,ECP_NAME,DESCRIBE,COUNTRY,IMAGE,BAR_CODE,SHELF_GOODS_NAME,
		  SUPERVISE_ID,IS_TAX) 
		  values(#{seqNo},#{listNo},#{LGoodsNo},#{LCodeTs},#{LGoodsName},#{LGoodsModel},
		  #{LUnit},#{LTaxCode},#{LPrice},#{LEcpCode},#{LEcpName},#{LDescribe},#{LCountry},
		  #{LImage},#{LBarCode},#{LShelfGoodsName},#{LSuperviseId},#{LIsTax})
	</insert>
	
</mapper>
