<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cneport.ecss.user.UserMapper">
<!-- 不启用缓存 -->
<!-- <cache/> -->

<!-- 	<insert id="addUser" parameterType="com.cneport.ecss.user.User">
		INSERT INTO USER_USER
           (USER_ID
           ,LOGIN_NAME
           ,USER_NAME
           ,ORG_ID
           ,USER_TYPE
           ,PASSWORD
           ,OFFICE_PHONE
           ,MOBILEPHONE
           ,EMAIL
           ,STATUS
           ,OPER_TIME
           ,OPER_NAME
           ,IC_NO
           ,START_DATE
           ,END_DATE
           ,NOTE)
     VALUES
           (USER_MANAGEMENT_SEQ.NEXTVAL
           ,#{loginName,jdbcType=VARCHAR}
           ,#{userName,jdbcType=VARCHAR}
           ,#{orgId,jdbcType=VARCHAR}
           ,#{userType,jdbcType=VARCHAR}
           ,#{passWord,jdbcType=VARCHAR}
           ,#{officePhone,jdbcType=VARCHAR}
           ,#{mobilePhone,jdbcType=VARCHAR}
           ,#{email,jdbcType=VARCHAR}
           ,#{status,jdbcType=VARCHAR}
           ,#{operTime,jdbcType=TIMESTAMP}
           ,#{operName,jdbcType=VARCHAR}
           ,#{icNo,jdbcType=VARCHAR}
           ,#{startDate,jdbcType=TIMESTAMP}
           ,#{endDate,jdbcType=TIMESTAMP}
           ,#{note,jdbcType=VARCHAR})
	</insert>
 -->	
<!-- 		<update id="updateUser" parameterType="com.cneport.ecss.user.User">
		UPDATE USER_USER
   SET USER_ID = #{userId,jdbcType=VARCHAR}
      ,LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
      ,USER_NAME = #{userName,jdbcType=VARCHAR}
      ,ORG_ID = #{orgId,jdbcType=VARCHAR}
      ,USER_TYPE = #{userType,jdbcType=VARCHAR}
      <if test="passWord != null and passWord!=''">,PASSWORD = #{passWord,jdbcType=VARCHAR}</if>
      ,OFFICE_PHONE = #{officePhone,jdbcType=VARCHAR}
      ,MOBILEPHONE = #{mobilePhone,jdbcType=VARCHAR}
      ,EMAIL = #{email,jdbcType=VARCHAR}
      ,STATUS = #{status,jdbcType=VARCHAR}
      ,OPER_TIME = #{operTime,jdbcType=TIMESTAMP}
      ,OPER_NAME = #{operName,jdbcType=VARCHAR}
      ,IC_NO = #{icNo,jdbcType=VARCHAR}
      ,START_DATE = #{startDate,jdbcType=TIMESTAMP}
      ,END_DATE = #{endDate,jdbcType=TIMESTAMP}
      ,NOTE = #{note,jdbcType=VARCHAR}
 WHERE USER_ID=#{userId,jdbcType=VARCHAR}
	</update>
 -->	
	<select id="queryUser" parameterType="com.cneport.ecss.user.ParameterDomain"  resultMap="userResult" >
		SELECT u.USER_ID as userId
      ,u.LOGIN_NAME as loginName
      ,u.USER_NAME as userName
      ,u.ORG_ID as orgId
      ,u.USER_TYPE as userType
      ,u.PASSWORD as passWord
      ,u.OFFICE_PHONE as officePhone
      ,u.MOBILEPHONE as mobilePhone
      ,u.EMAIL as email
      ,u.STATUS as status
      ,u.OPER_TIME as operTime
      ,u.OPER_NAME as operName
      ,u.IC_NO as icNo
      ,u.START_DATE as startDate
      ,u.END_DATE as endDate
      ,u.NOTE as note
	  ,r.ROLE_ID roleId
	  ,r.ROLE_NAME as roleName
	  ,r.role_code as roleCode
<!--  ,m.auth_id as authId
      ,m.auth_Code as authCode
      	,o.ID as Id
		,o.WL_CODE as wlCode
		,o.ORG_ID as orgId
		,o.ENT_CODE as entCode
		,o.ENT_CNNAME as entCnName
		,o.ENT_ENNAME as entEnName
		,o.MASTER_ENT_CODE as masterEntCode
		,o.MASTER_ENT_NAME as masterEntName
		,o.SUPERVISION_CODE as supervisionCode
		,o.SUPERVISION_NAME as supervisionName
		 ,o.BIZ_TYPE as bizType
		,o.LAW_MAN as lawMan
		,o.ENT_TYPE as entType
		,o.MASTER_CUSTOMS_CODE as masterCustomsCode
		,o.MODIFY_DATE as modifyDate		
 -->		
  FROM USER_USER u 
		LEFT JOIN USER_rel_user_role ur
		ON(u.USER_ID=ur.USER_ID)
		LEFT JOIN USER_role r ON(r.ROLE_ID=ur.ROLE_ID)
<!--		LEFT JOIN USER_rel_role_auth mr ON(r.role_id=mr.role_id)
     	LEFT JOIN USER_authority m ON(m.auth_id=mr.auth_id) 
    	LEFT JOIN USER_ORG o on(o.ORG_ID=u.org_Id) --> 
    	where 1=1 and u.LOGIN_NAME=#{loginName} and u.PASSWORD=#{passWord} and u.STATUS='1' 
    	<!-- and  (trunc(sysdate,'dd') between u.START_DATE and u.END_DATE) -->
	</select>
	
	<select id="queryUserByIcNo" parameterType="java.lang.String" resultMap="userResult" >
		SELECT u.USER_ID as userId
      ,u.LOGIN_NAME as loginName
      ,u.USER_NAME as userName
      ,u.ORG_ID as orgId
      ,u.USER_TYPE as userType
      ,u.PASSWORD as passWord
      ,u.OFFICE_PHONE as officePhone
      ,u.MOBILEPHONE as mobilePhone
      ,u.EMAIL as email
      ,u.STATUS as status
      ,u.OPER_TIME as operTime
      ,u.OPER_NAME as operName
      ,u.IC_NO as icNo
      ,u.START_DATE as startDate
      ,u.END_DATE as endDate
      ,u.NOTE as note
	  ,r.ROLE_ID roleId
	  ,r.ROLE_NAME as roleName
	  ,r.role_code as roleCode
<!--       ,m.auth_id as authId
      ,m.auth_Code as authCode
      	,o.ID as Id
		,o.WL_CODE as wlCode
		,o.ORG_ID as orgId
		,o.ENT_CODE as entCode
		,o.ENT_CNNAME as entCnName
		,o.ENT_ENNAME as entEnName
		,o.MASTER_ENT_CODE as masterEntCode
		,o.MASTER_ENT_NAME as masterEntName
		,o.SUPERVISION_CODE as supervisionCode
		,o.SUPERVISION_NAME as supervisionName
		 ,o.BIZ_TYPE as bizType
		,o.LAW_MAN as lawMan
		,o.ENT_TYPE as entType
		,o.MASTER_CUSTOMS_CODE as masterCustomsCode
		,o.MODIFY_DATE as modifyDate		
 -->		
  FROM USER_USER u 
 		LEFT JOIN USER_rel_user_role ur
		ON(u.USER_ID=ur.USER_ID)
		LEFT JOIN USER_role r ON(r.ROLE_ID=ur.ROLE_ID)
<!--		LEFT JOIN USER_rel_role_auth mr ON(r.role_id=mr.role_id)
    	LEFT JOIN USER_authority m ON(m.auth_id=mr.auth_id) 
    	LEFT JOIN USER_ORG o on(o.ORG_ID=u.ORG_ID) 
 -->    	where 1=1 and u.STATUS='1' 
    	<!-- and  (trunc(sysdate,'dd') between u.START_DATE and u.END_DATE) -->
    	<if test="_parameter != null and _parameter != ''">and u.IC_NO=#{_parameter}</if>
	</select>
	
		<!-- <select id="queryUserList" parameterType="com.cneport.ecss.user.User"  resultMap="userResult" >
          select 
	          t1.* 
	          ,r.ROLE_ID roleId
	          ,r.ROLE_NAME as roleName
	          ,m.auth_id as authId
	          ,m.auth_Code as authCode  
	          ,o.ENT_CNNAME as entCnName
			from
			(
			    select * from (  
			       SELECT 
			          row_number() OVER (order by s.operTime desc) as n,s.* 
			        from (
			            select
			                u.USER_ID as userId
			                  ,u.LOGIN_NAME as loginName
			                  ,u.USER_NAME as userName
			                  ,u.ORG_ID as orgId
			                  ,u.USER_TYPE as userType
			                  ,u.OFFICE_PHONE as officePhone
			                  ,u.MOBILEPHONE as mobilePhone
			                  ,u.EMAIL as email
			                  ,u.STATUS as status
			                  ,u.OPER_TIME as operTime
			                  ,u.OPER_NAME as operName
			                  ,u.IC_NO as icNo
			                  ,u.START_DATE as startDate
			                  ,u.END_DATE as endDate
			                  ,u.NOTE as note
			              FROM USER_USER u 
			              where 1=1 
						  <if test="loginName != null and loginName!=''">and u.LOGIN_NAME like  '%'||'${loginName}'||'%' </if>
				  		  <if test="userName != null and userName != ''">and u.USER_NAME like  '%'||'${userName}'||'%' </if>
				  		  <if test="userType != null and userType !=''">and u.USER_TYPE=#{userType}</if>
				  		  <if test="status != null and status!=''">and u.STATUS=#{status}</if>
				  		  <if test="orgId != null and orgId != ''">and u.ORG_ID=#{orgId}</if>
			         )s 
			      )t
			      <if test="limit != 0">
					  where t.n between #{start, jdbcType=DECIMAL} + 1 and #{start, jdbcType=DECIMAL} + #{limit, jdbcType=DECIMAL}
		  		  </if>
			) t1  
			LEFT JOIN USER_rel_user_role ur ON(t1.userId=ur.USER_ID)
			LEFT JOIN USER_role r ON(r.ROLE_ID=ur.ROLE_ID)
			LEFT JOIN USER_ORG o ON(o.ORG_ID=t1.orgId)
			LEFT JOIN USER_rel_role_auth mr ON(r.role_id=mr.role_id)
			LEFT JOIN USER_authority m ON(m.auth_id=mr.auth_id) 
			order by t1.operTime desc
	</select> -->
	
	<!-- <select id="countUserList" parameterType="com.cneport.ecss.user.User"  resultType="int">
		SELECT count(*)
  FROM USER_USER u where 1=1 
  		<if test="loginName != null and loginName!=''">and u.LOGIN_NAME like  '%'||'${loginName}'||'%' </if>
  		<if test="userName != null and userName != ''">and u.USER_NAME like  '%'||'${userName}'||'%' </if>
  		<if test="userType != null and userType !=''">and u.USER_TYPE=#{userType}</if>
  		<if test="status != null and status!=''">and u.STATUS=#{status}</if>
  		<if test="orgId != null and orgId != ''">and u.ORG_ID=#{orgId}</if>
	</select> -->
	
	<!-- <delete id="deleteUser"  parameterType="java.lang.String" >
	DELETE FROM USER_USER u
      WHERE u.USER_ID=#{userId}
	</delete> -->
	
	<!-- <delete id="deleteAssignRoles"  parameterType="java.lang.String" >
	DELETE FROM USER_REL_USER_ROLE u
      WHERE u.USER_ID=#{userId}
	</delete> -->
	
	<!-- <insert id="insertAssignRoles"  parameterType="com.cneport.tophare.sso.user.domain.UserRelUserRole" >
			INSERT INTO USER_REL_USER_ROLE
		           (USER_ID
		           ,ROLE_ID)
		     VALUES
		           (#{userId,jdbcType=VARCHAR}
		           ,#{roleId,jdbcType=VARCHAR})
	</insert> -->
	
					<resultMap id="userResult" type="User">
						<id property="userId" column="userId" />
						<result property="loginName" column="loginName" />
						<result property="userName" column="userName" />
						<result property="orgId" column="orgId" />
						<result property="userType" column="userType" />
						<result property="officePhone" column="officePhone" />
						<result property="mobilePhone" column="mobilePhone" />
						<result property="email" column="email" />
						<result property="status" column="status" />
						<result property="operTime" column="operTime" />
						<result property="operName" column="operName" />
						<result property="icNo" column="icNo" />
						<result property="startDate" column="startDate" />
						<result property="endDate" column="endDate" />
						<result property="note" column="note" />
						<collection property="roles" ofType="Role">
							<id property="roleId" column="roleId" />
							<result property="roleName" column="roleName" />
							<result property="roleCode" column="roleCode" />
							<!-- <collection property="authoritys" ofType="Authority">
								<id property="authId" column="authId" />
								<result property="authCode" column="authCode" />							
							</collection> -->										
						</collection>
						<!--<collection property="org" ofType="Org">
							<id property="Id" column="Id" />
							<result property="wlCode" column="wlCode" />
							<result property="orgId" column="orgId" />
							<result property="entCode" column="entCode" />
							<result property="entCnName" column="entCnName" />
							<result property="entEnName" column="entEnName" />
							<result property="masterEntCode" column="masterEntCode" />
							<result property="masterEntName" column="masterEntName" />
							<result property="supervisionCode" column="supervisionCode" />
							<result property="supervisionName" column="supervisionName" />
							<result property="bizType" column="bizType" />
							<result property="lawMan" column="lawMan" />
							<result property="entType" column="entType" />
							<result property="masterCustomsCode" column="masterCustomsCode" />
							<result property="modifyDate" column="modifyDate" />
						</collection> -->
					</resultMap>
					
<!-- <select id="queryOrgInfo" parameterType="java.lang.String" resultType="com.cneport.tophare.sso.user.domain.Org">
			SELECT r.ID as Id
			      ,r.WL_CODE as wlCode
			      ,r.ORG_ID as orgId
			      ,r.ENT_CODE as entCode
			      ,r.ENT_CNNAME as entCnName
			      ,r.ENT_ENNAME as entEnName
			      ,r.MASTER_ENT_CODE as masterEntCode
			      ,r.MASTER_ENT_NAME as masterEntName
			      ,r.SUPERVISION_CODE as supervisionCode
			      ,r.SUPERVISION_NAME as supervisionName
			      ,r.BIZ_TYPE as bizType
			      ,r.LAW_MAN as lawMan
			      ,r.ENT_TYPE as entType
			      ,r.MASTER_CUSTOMS_CODE as masterCustomsCode
			      ,r.MODIFY_DATE as modifyDate
			  FROM USER_ORG 
			  where r.ORG_ID=#{orgId}
</select> -->
</mapper>
