<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cneport.ecss.exchange.service.order.persistence.OrderMapper">
  <select id="countOrderList" parameterType="String" resultType="int">
  		select count(*) from order_list  t where t.SEQ_NO=#{seqNo}  
  </select>
  
    <select id="queryOrderHead" parameterType="Map" resultType="int">
  		SELECT count(*) FROM order_head where ECP_CODE=#{ecpCode} and ORDER_NO=#{orderNo}
  </select>
  
  	<insert id="insertOrderHead" 	parameterType="com.cneport.ecss.exchange.service.entity.OrderHead">
  	
  	insert into order_head
          (SEQ_NO,ORDER_NO,CBE_CODE,CBE_NAME,ECP_CODE,ECP_NAME,CUSTOMER,ID_TYPE,CUSTOMER_ID,CURRENCY,CHARGE,GOODS_VALUE,FREIGHT,OTHER,TAX,
	 SHIPPER,SHIPPER_ADDRESS,SHIPPER_TELEPHONE,SHIPPER_COUNTRY,CONSIGNEE,CONSIGNEE_ADDRESS,CONSIGNEE_TELEPHONE,CONSIGNEE_COUNTRY,IE_TYPE,NOTE,status,CUSTOMS_CODE,UPDATE_TIME) 
	 values(#{seqNo, jdbcType=VARCHAR},#{orderNo, jdbcType=VARCHAR},#{cbeCode, jdbcType=VARCHAR},#{cbeName, jdbcType=VARCHAR},
	 #{ecpCode, jdbcType=VARCHAR},#{ecpName, jdbcType=VARCHAR},#{customer, jdbcType=VARCHAR},#{idType, jdbcType=VARCHAR},#{customerId, jdbcType=VARCHAR},#{currency, jdbcType=VARCHAR},
	 #{charge},#{goodsValue},#{freight},#{other},#{tax},#{shipper, jdbcType=VARCHAR},#{shipperAddress, jdbcType=VARCHAR},
	 #{shipperTelephone, jdbcType=VARCHAR},#{shipperCountry, jdbcType=VARCHAR},#{consignee, jdbcType=VARCHAR},#{consigneeAddress, jdbcType=VARCHAR},#{consigneeTelephone, jdbcType=VARCHAR},
	 #{consigneeCountry, jdbcType=VARCHAR},#{ieType, jdbcType=VARCHAR},#{note, jdbcType=VARCHAR},'1','4600',sysdate)
	</insert>
	
	  	<insert id="insertOrderList" 	parameterType="com.cneport.ecss.exchange.service.entity.OrderList">
  	   	      insert into order_list
          (SEQ_NO,LIST_NO,ITEM_NO,GOODS_NO,SHELF_GOODS_NAME,DESCRIBE,PRICE,CURRENCY,PRICE_TOTAL,QUANTITY,UNIT,COUNTRY,DISCOUNT,FLAG,CODE_TS,TAX_CODE,GOODS_NAME,GOODS_MODEL) 
	  values(#{seqNo},#{listNo},#{itemNo},#{goodsNo},#{shelfGoodsName},#{describe},#{price},#{currency},#{priceTotal},#{quantity},#{unit},
	  #{country},#{discount},
	  #{flag},#{codeTs},#{taxCode},#{goodsName},#{goodsModel})
	</insert>
	
	<insert id="insertOrderPayInfo" 	parameterType="com.cneport.ecss.exchange.service.entity.OrderPaymentLogistics">
  	      insert into ORDER_PAYMENT_LOGISTICS(SEQ_NO,PAYMENT_CODE,PAYMENT_NAME,PAYMENT_TYPE,PAYMENT_NO,LOGISTICS_CODE,LOGISTICS_NAME,LOGISTICS_NO,TRACK_NO) 
		values(#{seqNo},#{paymentCode},#{paymentName},#{paymentType},#{paymentNo},
		#{logisticsCode},#{logisticsName},#{logisticsNo},#{trackNo})
	</insert>
    

</mapper>
